body {
    color: white;
}

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: none;
    font-size: 8rem;
    min-width: 80rem;
    color: white;
    background: linear-gradient(none);
}


/*Choice CSS*/

.choice-container:hover {
    cursor: pointer;
    transform: scale(1.03);
    color: rgb(25, 34, 160);
}

.choice-prefix {
    padding: 2rem 2.5rem;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}


/* correct and incorrect animations*/

.correct {
    background: linear-gradient(32deg, rgba(11, 223, 36) 0%, rgb(41, 232, 111) 100%);
}

.incorrect {
    background: linear-gradient(32deg, rgba(230, 29, 1) 0%, rgb(224, 11, 11, 1) 100%);
}


/* display */

#display {
    display: flex;
    justify-content: space-between;
}

.display-prefix {
    text-align: center;
    font-size: 2rem;
}

.display-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgb(11, 223, 36);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: rgb(11, 223, 36);
    width: 0%;
}

@media screen and (max-width: 760px) {
    .choice-container {
        min-width: 40rem;
    }
}

#timer {
    font-size: 8rem;
}